.page-shopify {
	.settings {
		
	}
	.item {
		margin-bottom: 10px;
		border: 1px dashed transparent;
		@include mk-shadow(z1);
		&.ghost {
			box-shadow: none;
			border-color: $blue-500;
			.item-head {
				background-color: $blue-500;
			}
		}
		&-head {
			margin: -1px;
			cursor: move;
			color: $white;
			@extend .d-flex;
			padding: 6px 12px;
			margin-bottom: 10px;
			@extend .align-items-center;
			background-color: $light-green-600;
			@extend .justify-content-between;
			.material-icons {
				font-size: 20px;
				vertical-align: middle;
			}
		}
		&-action {
			.material-icons {
				cursor: pointer;
			}
		}
		&-body {
			display: none;
			padding: 12px;
		}
		&:not(.active) .item-head {
			margin-bottom: -1px;
		}
		&.active {
			.item-body {
				display: block;
			}
		}
	}
	.field-options {
		.input-group-text {
			cursor: move;
		}
		.input-group .btn {
			.material-icons {
				font-size: 16px;
				vertical-align: middle;
			}
		}
	}
	.card {
		&-header {
			.material-icons {
				font-size: 16px;
			}
		}
		&.ghost {
			.card-header {
				color: $white;
				background-color: $light-green-500;
			}
		}
	}
	.block-wrap {
		.card {
			&-header {
				cursor: move;
			}
			&-body {
				display: none;
			}
			&:not(.active) .card-header {
				margin-bottom: -1px;
			}
			&.active {
				.card-body {
					display: block;
				}
			}
		}
	}
}