.page-shopify {
	.json-formatted {
		resize: none;
		white-space: pre;
	}
	.item {
		@extend .card;
		&-head {
			cursor: move;
			@extend .card-header;
			padding: 5px 10px;
		}
		&-action {
			.material-icons {
				font-size: 16px;
				cursor: pointer;
				vertical-align: middle;
			}
		}
		&-body {
			display: none;
			@extend .card-body;
			padding: 10px;
		}
		&.ghost {
			color: $white;
			box-shadow: none;
			border-style: dashed;
			border-color: $blue-500;
			.item-head {
				background-color: $blue-500;
			}
		}
		&:not(.active) .item-head {
			margin-bottom: -1px;
		}
		&.active {
			.item-body {
				display: block;
			}
		}
	}
	.field-options {
		.input-group-text {
			cursor: move;
		}
		.input-group .btn {
			.material-icons {
				font-size: 16px;
				vertical-align: middle;
			}
		}
	}
	.card {
		&-header {
			.material-icons {
				font-size: 16px;
				cursor: pointer;
				vertical-align: middle;
			}
		}
		&.ghost {
			border-style: dashed;
			border-color: $blue-500;
			.card-header {
				color: $white;
				background-color: $blue-500;
			}
		}
	}
	.block-wrap {
		.card {
			&-header {
				cursor: move;
			}
			&-body {
				display: none;
			}
			&:not(.active) .card-header {
				margin-bottom: -1px;
			}
			&.active {
				.card-body {
					display: block;
				}
			}
		}
	}
}