html {
	&[data-bs-theme="light"] {
		body {
			background-color: $grey-200;
			&>.header, &>.footer {
				--bs-body-bg: #{$grey-200};
			}
		}
	}
	&[data-bs-theme="dark"] {
		.page-home {
			.link-item {
				a {
					&:after {
						border-color: var(--bs-secondary-bg);
					}
				}
			}
		}
		.page-unicode-nepali {
			.key {
				background-color: $grey-900;
			}
			.pinky {
				color: $pink-A700;
				border-color: $pink-A200;
				&.active {
					color: $pink-A400;
					border-color: $pink-A700;
					background-color: $pink-A100;
				}
			}
			.ring {
				color: $deep-orange-A700;
				border-color: $deep-orange-A200;
				&.active {
					color: $deep-orange-A400;
					border-color: $deep-orange-A700;
					background-color: $deep-orange-A100;
				}
			}
			.middle {
				color: $orange-A700;
				border-color: $orange-A200;
				&.active {
					color: $orange-A400;
					border-color: $orange-A700;
					background-color: $orange-A100;
				}
			}
			.pointer1st {
				color: $yellow-A700;
				border-color: $yellow-A200;
				&.active {
					color: $yellow-A400;
					border-color: $yellow-A700;
					background-color: $yellow-A100;
				}
			}
			.pointer2nd {
				color: $green-A700;
				border-color: $green-A200;
				&.active {
					color: $green-A400;
					border-color: $green-A700;
					background-color: $green-A100;
				}
			}
		}
	}
}