.page-unicode-nepali {
	.content>.container {
		width: 100%;
		max-width: 1300px;
	}
	.ref-ie {
		font-size: 18px;
		background-color: $green-100;
	}
}
.keyboard {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	.d-flex {
		width: 100%;
		.col {
			flex-grow: initial;
		}
	}
	@include media-breakpoint-up(sm) {
		font-size: 0.65em;
	}
	@include media-breakpoint-up(md) {
		font-size: 0.8em;
	}
	@include media-breakpoint-up(lg) {
		font-size: 0.95em;
	}
	@include media-breakpoint-up(xl) {
		font-size: 1em;
	}
	@include media-breakpoint-up(xxl) {
		font-size: 1.3em;
	}
	@include media-breakpoint-down(sm) {
		font-size: 0.35em;
	}
	.key {
		width: 4em;
		height: 4em;
		margin: 0.4em;
		display: block;
		font-size: 1em;
		cursor: default;
		line-height: 3em;
		position: relative;
		letter-spacing: 1px;
		border-radius: 0.4em;
		color: rgba(0,0,0,0.7);
		transition: 0.3s;
		text-align: center;
		// Nepali
		display: flex;
		line-height: 2em;
		align-items: center;
		justify-content: space-around;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		.ne {
			font-size: 1.25em;
			line-height: 1.35em;
		}
		&.pls-eql {
			.ne {
				font-size: 0.85em;
				letter-spacing: -1px;
			}
		}
	}
	.tab, .back {
		width: 6em;
	}
	.caps, .enter, .ctrl, .alt  {
		width: 7.25em;
	}
	.shift {
		width: 9.65em;
	}
	.space {
		width: 36em;
		&:after {
			content: 'space_bar';
		}
	}
	.space, .back, .enter, .tab, .caps {
		span {
			display: none;
		}
		&:after {
			font-size: 1em;
			font-family: 'Material Icons';
		}
	}
	.back:after {
		content: 'backspace';
	}
	.enter:after {
		content: 'keyboard_return';
	}
	.tab:after {
		content: 'keyboard_tab';
	}
	.caps:after {
		content: 'keyboard_capslock';
	}

	.pinky {
		//crimson
		background-color: $pink-100;
		border: 2px solid $pink-100;
		&.active {
			border-color: $pink-300;
			background-color: $pink-200;
		}
	}
	.ring {
		//coral
		background-color: $deep-orange-100;
		border: 2px solid $deep-orange-100;
		&.active {
			border-color: $deep-orange-300;
			background-color: $deep-orange-200;
		}
	}
	.middle {
		//darkorange
		background-color: $orange-100;
		border: 2px solid $orange-100;
		&.active {
			border-color: $orange-300;
			background-color: $orange-200;
		}
	}
	.pointer1st {
		//gold
		background-color: $yellow-100;
		border: 2px solid $yellow-100;
		&.active {
			border-color: $yellow-300;
			background-color: $yellow-200;
		}
	}
	.pointer2nd {
		//khaki
		background-color: $light-green-100;
		border: 2px solid $light-green-100;
		&.active {
			border-color: $light-green-300;
			background-color: $light-green-200;
		}
	}
	.fill {
		border-color: $grey-400;
		background-color: $grey-300;
		&.caps {
			&:before {
				top: 16px;
				right: 16px;
				content: '';
				border-radius: 50%;
				position: absolute;
				border: 3px solid $lime-A400;
			}
		}
	}
	.active {
		//background-color: transparent;
		-webkit-animation: vibrate-1 0.3s linear infinite both;
		animation: vibrate-1 0.3s linear infinite both;
	}
	&-ref {
		.ref-tbl {
			background-color: $green-50;
		}
		.col {
			padding: 10px 0;
		}
		.ref {
			padding: 5px;
			font-size: 16px;
			text-align: center;
			&.en {
				font-size: 14px;
			}
		}
	}
}

/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.hit {
	-webkit-animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes hit {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes hit {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}