.progress {
	&.bg-0 {
		background-color: $red-100;
		.progress-bar {
			background-color: $red-500;
		}
	}
	&.bg-1 {
		background-color: $orange-100;
		.progress-bar {
			background-color: $orange-500;
		}
	}
	&.bg-2 {
		background-color: $amber-100;
		.progress-bar {
			background-color: $amber-500;
		}
	}
	&.bg-3 {
		background-color: $light-green-100;
		.progress-bar {
			background-color: $light-green-500;
		}
	}
	&.bg-4 {
		background-color: $green-100;
		.progress-bar {
			background-color: $green-500;
		}
	}
	&.bg-5 {
		background-color: $teal-100;
		.progress-bar {
			background-color: $teal-500;
		}
	}
	&.bg-6 {
		background-color: $cyan-100;
		.progress-bar {
			background-color: $cyan-500;
		}
	}
	&.bg-7 {
		background-color: $blue-100;
		.progress-bar {
			background-color: $blue-500;
		}
	}
}
.page-password-generator {
	form {
		margin: auto;
		padding: 0 15px;
		max-width: 500px;
	}
	.rangeSlider {
		&:after {
			background-color: $blue-100;
		}
		&__fill:after {
			background-color: $blue-500;
		}
	}
	.result {
		position: relative;
		.password {
			padding: 15px;
			font-size: 18px;
			padding-right: 30px;
		}
		.actions {
			top: 0;
			bottom: 0;
			right: 15px;
			position: absolute;
			span {
				margin: 5px 0;
			}
		}
	}
}