input[type="range"] {
	-webkit-appearance: none !important;
	width: 200px;
	height: 2px;
	background: black;
	border: none;
	outline: none;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	width: 24px;
	height: 24px;
	background: black;
	border: 2px solid black;
	border-radius: 50%;
	cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
	ground: black;
}

$rangeSliderActiveWidth: 6px;
$rangeSliderInActiveWidth: 4px;
$rangeSliderNegativeMargin: calc(#{$rangeSliderInActiveWidth} / -2);
.rangeSlider {
	box-shadow: none;
	background-color: transparent;
	&:after {
		content: '';
		position: absolute;
		background-color: $green-100;
	}
	&__fill {
		box-shadow: none;
		background-color: transparent;
		&:after {
			z-index: 1;
			content: '';
			position: absolute;
			background-color: $green-500;
			height: $rangeSliderActiveWidth;
		}
	}
	&__handle {
		width: 30px;
		height: 30px;
		&__horizontal {
			top: -4px;
		}
		&__vertical {
			left: -5px;
		}
	}
	&__horizontal {
		&:after {
			left: 0;
			top: 50%;
			width: 100%;
			height: $rangeSliderInActiveWidth;
			margin-top: $rangeSliderNegativeMargin;
		}
		.rangeSlider__fill {
			&:after {
				top: 50%;
				width: 100%;
				margin-top: $rangeSliderNegativeMargin;
			}
		}
	}
	&__vertical {
		&:after {
			bottom: 0;
			left: 50%;
			height: 100%;
			width: $rangeSliderInActiveWidth;
			margin-left: $rangeSliderNegativeMargin;
		}
		.rangeSlider__fill {
			&:after {
				left: 50%;
				bottom: 0;
				height: 100%;
				margin-left: $rangeSliderNegativeMargin;
				width: $rangeSliderActiveWidth;
			}
		}
	}
	.rangeSlider__handle {
		z-index: 2;
	}
}