.box-item {
	width: 100px;
	height: 100px;
	margin: 1rem;
	cursor: pointer;
	overflow: hidden;
	background: $white;
	position: relative;
	border-radius: 2px;
	display: inline-block;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&.z0 {
		@include mk-shadow(z0);
	}
	&.z1 {
		@include mk-shadow(z1);
	}
	&.z2 {
		@include mk-shadow(z2);
	}
	&.z3 {
		@include mk-shadow(z3);
	}
	&.z4 {
		@include mk-shadow(z4);
	}
	&.z5 {
		@include mk-shadow(z5);
	}
	&.ref2 {
		&.z1 {
			@include mk-shadow(z1,2);
		}
		&.z2 {
			@include mk-shadow(z2,2);
		}
		&.z3 {
			@include mk-shadow(z3,2);
		}
		&.z4 {
			@include mk-shadow(z4,2);
		}
		&.z5 {
			@include mk-shadow(z5,2);
		}
	}
	&:after {
		top: 50%;
		left: 50%;
		width: 24px;
		height: 24px;
		display: none;
		content: '\e14d';
		line-height: 1;
		font-size: 24px;
		color: $grey-800;
		margin-top: -12px;
		margin-left: -12px;
		position: absolute;
		border-radius: 50%;
		font-family: 'Material Icons';
		transition: all .3s ease-in-out 0s;
	}
	&:hover {
		&:after {
			display: block;
			@include animate-prefixer(animation-duration, calc( #{$base-duration} ) );
			@include animate-prefixer(animation-fill-mode, $base-fill-mode);
			@include animate-prefixer(animation-name, flipInX);
		}
	}
}
.box-shadow {
	width: 100px;
	height: 100px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: $primary;
	transition: box-shadow 0.3s ease-in-out;
	&-result {
		padding: 15px;
		white-space: pre;
		position: relative;
		padding-right: 45px;
		background-color: $white;
		.css-code {
			white-space: nowrap;
		}
		.material-icons {
			top: 50%;
			right: 10px;
			cursor: pointer;
			margin-top: -12px;
			position: absolute;
		}
	}
}
.box-tune {
	display: flex;
	padding: 10px;
	margin: 5px 0;
	.rangeSlider__vertical {
		margin: auto;
		height: 100px;
	}
	.tune-label {
		width: 160px;
		text-align: left;
	}
	.clr-field {
		&, input {
			width: 100%;
		}
		button {
		}
	}
}