.putty {
    overflow: auto;
	white-space: nowrap;
	code {
		display: block;
		&:hover {
			.php {
				visibility: visible;
			}
		}
	}
	.php {
		color: initial;
		cursor: pointer;
		font-size: 11px;
		padding: 1px 2px;
		visibility: hidden;
		border-radius: 2px;
		margin-right: 5px;
		display: inline-block;
		background-color: #0f0;
		color: var(--bs-black);
		>i {
			line-height: 0;
			font-size: 24px;
			letter-spacing: -4px;
			vertical-align: middle;
		}
	}
}
[data-bs-theme="dark"] {
	.alert {
		.putty code {
			color: #bbb;
		}
	}
}