.header {
	top: 0;
	left: 0;
	right: 0;
	height: 82px;
	z-index: 100;
	padding: 10px;
	position: fixed;
	background-color: var(--bs-body-bg);
	.logo {
		&, a, span {
			display: inline-block;
		}
		svg {
			height: 62px;
		}
	}
}
.main-title {
	padding: 15px;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	text-transform:uppercase;
}
.dropdown {
	&.mk-theme, &.mk-widget {
		top: 50%;
		right: 15px;
		margin-top: -21px;
		position: absolute;
		&>.dropdown-menu {
			display: block;
			visibility: hidden;
			transform: scale(0.8);
			transition: transform .15s ease-in-out 0s;
		}
		&> .dropdown-menu.show,
		&:hover > .dropdown-menu,
		&:hover > .dropdown-menu.show {
			right: 0;
			left: auto;
			display: block;
			visibility: visible;
			transform: scale(1);
		}
	}
	&.mk-widget {
		right: 70px;
		&>.dropdown-menu {
			padding-left: 5px;
			padding-right: 5px;
			--bs-dropdown-min-width: 260px;
		}
		.mk-item {
			flex: 0 0 33.33%;
		}
		.mk-link {
			height: 100%;
			padding: 5px;
			display: block;
			text-align: center;
			text-decoration: none;
			border: 1px solid transparent;
			&:hover {
				border-color: var(--bs-border-color);
				background-color: rgba(0,0,0,.15);
			}
		}
		.text-label {
			display: block;
			font-size: 13px;
		}
	}
}
body {
	&.has-loading {
		.logo {
			a {
				pointer-events: none;
			}
			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				position: fixed;
				background-color: rgba(0,0,0,.4);
			}
			 span {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				position: fixed;
				transform: translateY(50%);
			}
		}
	}
}