.page-aspect-ratio {
	.card {
		@include media-breakpoint-up(md) {
			height: 100%;
		}
	}
	.result-preview {
		background-position: center;
		background-repeat: no-repeat;
		&.has-img {
			span {
				display: none;
			}
		}
		&.no-img {
			background-image: none!important;
		}
		&.img-contain {
			background-size: contain;
		}
		&.img-cover {
			background-size: cover;
		}
	}
	.has-preview-config {
		.form-check {
			min-height: 10px;
			margin-bottom: 0;
		}
		.btn {
			svg {
				width: 24px;
				height: 24px;
				line-height: inherit;
			}
			&.ico-y[for=imgContain] {
				span {
					transform: rotate(90deg);
				}
			}
		}
	}
}